*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(117, 169, 186);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(28, 72, 87);
}
#page2 img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}